<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SQL_Database"
         connectionString="Password=escmex;Persist Security Info=True;User ID=sa;Initial Catalog=Almacen_AbarrotesJunior;Data Source=LAPTOP-1DGOM81E"></add>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>